/* TODO review notes on color */
@font-face {
	font-family: "Barlow Semi Condensed";
	src: url("./../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Barlow Semi Condensed";
	src: url("./../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
	font-weight: 600;
}
html {
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--light-gray: hsl(0, 0%, 81%);
	--light-grayish-blue: hsl(210, 46%, 95%);
	--white: hsl(0, 0%, 100%);
	--lightly-dimmed-font-color: 0.7;
	--very-dimmed-font-color: 0.5;
	font-size: 13px;
	font-family: "Barlow Semi Condensed";
	font-weight: 500;
}
body {
	display: flex;
	flex-direction: column;
	background-color: var(--light-grayish-blue);
}
body > article:first-child header img,
body > article:nth-child(4) header img {
	border-width: 3px;
	border-style: solid;
}
body > article:first-child header img {
	border: 3px solid rgba(255, 255, 255, 0.5);
}
body > article:nth-child(4) header img {
	border: 3px solid rgb(117, 65, 200);
}
article {
	border-radius: 7px;
	padding: 0.9rem 1.8rem;
	width: 71%;
	margin: auto auto 3rem auto;
	color: var(--white);
}
article header div {
	display: flex;
	align-items: center;
}
article header div img {
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}
article header h2 {
	margin-top: 0;
}
address {
	font-style: normal;
	margin-left: 1rem;
}
.author {
	font-size: 1rem;
	margin-bottom: 0.33rem;
}
.role {
	margin: 0;
	font-size: 0.9rem;
	opacity: var(--very-dimmed-font-color);
}
blockquote {
	padding: 0;
	margin: 0;
}
blockquote > p {
	opacity: var(--lightly-dimmed-font-color);
	line-height: 1.4rem;
}
blockquote > p::before {
	content: '" ';
}
blockquote > p::after {
	content: ' "';
}
body > article:first-child {
	background-color: var(--moderate-violet);
	position: relative;
}
body > article:first-child header h2 {
	position: relative;
	z-index: 2;
}
body > article:first-child::after {
	content: url("./../images/bg-pattern-quotation.svg");
	width: 1rem;
	position: absolute;
	top: 0;
	right: 104px;
	/* right: 168px; */
	z-index: 1;
}
body > article:nth-child(2) {
	background-color: var(--very-dark-grayish-blue);
}
body > article:nth-child(3) {
	background-color: var(--white);
	color: var(--very-dark-grayish-blue);
}
body > article:nth-child(4) {
	background-color: var(--very-dark-blackish-blue);
}
body > article:nth-child(5) {
	background-color: var(--white);
	color: var(--very-dark-grayish-blue);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 1440px) {
	body {
		display: grid;
		grid-template-columns: 3fr 6.5fr 6fr 6.5fr 6.5fr 3fr;
		column-gap: 3rem;
		grid-template-rows: 5rem 0.33fr 0.33fr 5rem;
		row-gap: 2rem;
	}
	article {
		width: unset;
		margin: unset;
		padding: 0.9rem 2.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.author {
		margin-bottom: 0;
	}
	article header h2 {
		font-size: 1.5rem;
	}
	/* daniel clifford */
	body > article:first-child {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	body > article:first-child::after {
		right: 168px;
		top: 0;
	}
	/* jonathan wæiters */
	body > article:nth-child(2) {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	/* jeanette harmon */
	body > article:nth-child(3) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	/* patrick abrams */
	body > article:nth-child(4) {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	/* kira whittle */
	body > article:nth-child(5) {
		grid-column-start: 5;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.attribution {
		grid-column-start: 2;
		grid-row-start: 4;
	}
}
