/* TODO review notes on color */
@font-face {
	font-family: "Barlow Semi Condensed";
	src: url("./../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Barlow Semi Condensed";
	src: url("./../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
	font-weight: 600;
}

:root {
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-gray-blue: hsl(217, 19%, 35%);
	--very-dark-black-blue: hsl(219, 29%, 14%);
	--light-gray: hsl(0, 0%, 81%);
	--light-gray-blue: hsl(210, 46%, 95%);
	--white: hsl(0, 0%, 100%);
	--lightly-dimmed-font-color: 0.7;
	--very-dimmed-font-color: 0.5;
}

html {
	font-size: 13px;
}

body {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: 500;
	background-color: var(--light-gray-blue);
}

/* LAYOUT */
main {
	padding: 4rem 0;
}
/* END LAYOUT */

/* TESTIMONIALS CONTAINER */
.testimonials-container {
	display: flex;
	flex-direction: column;
}
/* END TESTIMONIALS CONTAINER */

/* TESTIMONIALS COMMON STYLES */
.testimonial {
	box-sizing: border-box;
	border-radius: 7px;
	padding: 2.1rem;
	width: 86.1%;
	margin: auto auto 3rem auto;
	color: var(--very-dark-gray-blue);
	box-shadow: 23px 6px 31px 0px rgb(0 0 0 / 10%);
}
.testimonial-meta {
	display: flex;
	align-items: center;
}
.author-profile-picture {
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
}

.testimonial-meta,
.testimonial-highlight {
	margin-block-end: 1rem;
}

.testimonial-highlight {
	margin-block-start: 0;
}
.testimonial address {
	font-style: normal;
	margin-left: 1rem;
}
.author {
	font-size: 1rem;
	margin-bottom: 0.33rem;
}
.role {
	margin: 0;
	font-size: 0.9rem;
	opacity: var(--very-dimmed-font-color);
}
.testimonial blockquote {
	padding: 0;
	margin: 0;
}
.testimonial-content {
	opacity: var(--lightly-dimmed-font-color);
	line-height: 1.4rem;
}
.testimonial-content::before {
	content: open-quote;
}
.testimonial-content::after {
	content: close-quote;
}
/* END TESTIMONIALS COMMON STYLES */

/* UTILITY CLASSES */

/* DECORATIVE BACKGROUND */
.decorative-quotes-background {
	background-image: url("./../images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-position: 91.1% 0;
	background-size: 33.5% 24.8%;
}
/* END DECORATIVE BACKGROUND */

/* BORDER FOR PROFILE PICTURE */
.image-large-border {
	border-width: 3px;
	border-style: solid;
}
/* END BORDER FOR PROFILE PICTURE */

/* GREY BORDER PROFILE PICTURES */
.grey-border {
	border-color: rgba(255, 255, 255, 0.5);
}
/* END GREY BORDER PROFILE PICTURES */

/* PURPLE BORDER PROFILE PICTURES */
.purple-border {
	border-color: hsl(263, 55%, 70%);
}
/* END PURPLE BORDER PROFILE PICTURES */

	background-color: var(--white);
	color: var(--very-dark-grayish-blue);
}
}
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 1440px) {
	body {
		display: grid;
		grid-template-columns: 3fr 6.5fr 6fr 6.5fr 6.5fr 3fr;
		column-gap: 3rem;
		grid-template-rows: 6rem 0.33fr 0.33fr 5rem;
		row-gap: 2rem;
	}
	article {
		width: unset;
		margin: unset;
		padding: 0.9rem 2.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.author {
		margin-bottom: 0;
	}
	article header h2 {
		font-size: 1.5rem;
	}
	/* daniel clifford */
	body > article:first-child {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	body > article:first-child::after {
		right: 168px;
		top: 0;
	}
	/* jonathan wæiters */
	body > article:nth-child(2) {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	/* jeanette harmon */
	body > article:nth-child(3) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	/* patrick abrams */
	body > article:nth-child(4) {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	/* kira whittle */
	body > article:nth-child(5) {
		grid-column-start: 5;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.attribution {
		grid-column-start: 2;
		grid-row-start: 4;
	}
}
